body,
h1,
h2,
h3,
html,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 400;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img {
  height: auto;
  max-width: 100%;
}
body,
html {
  height: 100%;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  line-height: 1.45;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
body {
  background-color: #4b79a1;
  background-image: linear-gradient(-90deg, #4b79a1 0, #283e51 100%);
  color: #222a2f;
  font-size: calc(16px + 0.4vw);
  font-family: Lato, san-serif;
}
