name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: yarn
    - run: yarn test
    - name: Code Coverage
      if: github.event_name == 'push'
      run: |
        yarn run test --coverage
        npx coveralls
      env:
        REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    - name: Wait for Now Deployment
      if: github.event_name == 'push'
      run: |
        NOW_URL=$(npx now --token $ZEIT_TOKEN ls wyze.github.io 2> /dev/null | sed -n 2p | tr -s ' ' | cut -d ' ' -f 3)
        sed -i.bak "s@{{ NOW_URL }}@https://$NOW_URL@g" codechecks.yml

        while [ $MAX_TRIES -gt 0 ]
        do
          STATUS=$(npx now --token $ZEIT_TOKEN inspect $NOW_URL 2>&1 | grep READY | head -c1 | wc -c)
          if [ $STATUS -gt 0 ]; then
            exit 0
          else
            MAX_TRIES=$((MAX_TRIES - 1))
          fi
          sleep $SECONDS_BETWEEN_CHECKS
        done

        exit 1
      env:
        MAX_TRIES: 20
        SECONDS_BETWEEN_CHECKS: 30
        ZEIT_TOKEN: ${{ secrets.ZEIT_TOKEN }}
    - name: Lighthouse
      if: github.event_name == 'push'
      run: |
        yarn add --dev @codechecks/client @codechecks/lighthouse-keeper
        npx codechecks
      env:
        CC_SECRET: ${{ secrets.CC_SECRET }}
